// Folders
.git
.github
.vscode
.changeset
logs
node_modules
storage
src

// Extensions
*.ts
*.json
*.log

// Files
.gitignore
.prettierignore
.npmignore
eslint.config.js
prettier.config.js
pnpm-lock.yaml
CHANGELOG.md
tsconfig.js
