name: Biome CI

on:
  workflow_dispatch:
  push:
    branches:
      - "master"
    paths:
      - "**/*.ts"
  pull_request:
    branches:
      - "master"
    paths:
      - "**/*.ts"

jobs:
  quality:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - uses: biomejs/setup-biome@b6492c779c0160b740254dd07e00cbfd3797efa6 # v2.6.0
        with:
          version: "2.3.7"

      - run: biome ci .
