name: Biome CI

on:
  workflow_dispatch:
  push:
    branches:
      - "master"
    paths:
      - "**/*.ts"
  pull_request:
    branches:
      - "master"
    paths:
      - "**/*.ts"

jobs:
  quality:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - uses: biomejs/setup-biome@edd13ef7d6fa532b11f6143f1a0c21e8b22b5b5b # v2.6.0
        with:
          version: "2.3.7"

      - run: biome ci .
