name: release

on:
  workflow_run:
    workflows: ["CodeQL"]
    types: [completed]

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions:
  contents: write
  id-token: write

jobs:
  publish:
    if:
      ${{ github.event.workflow_run.conclusion == 'success' &&
      startsWith(github.ref, 'refs/tags/') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: oven-sh/setup-bun@635640504f6d7197d3bb29876a652f671028dc97 # v2.0.2
        with:
          bun-version: "1.3.3"

      - run: bun install --frozen-lockfile

      - uses: actions/setup-node@v6
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"

      - run: npm install -g npm@latest

      # The prepublishOnly script runs 'bun run clean && bun run build'
      - run: npm publish

  github:
    needs: publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          generate_release_notes: true
