name: release

on:
  workflow_run:
    workflows: ["CodeQL"]
    types: [completed]

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions:
  contents: write
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest
    if:
      ${{ github.event.workflow_run.conclusion == 'success' &&
      startsWith(github.ref, 'refs/tags/') }}

    environment:
      name: publishing

    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v6

      - uses: oven-sh/setup-bun@635640504f6d7197d3bb29876a652f671028dc97 # v2.0.2
        with:
          bun-version: "1.3.3"

      - uses: biomejs/setup-biome@88ff7f0eb27ff8b9509f272bc856d42919b226c8 # v2.6.0
        with:
          version: "2.3.8"

      - uses: actions/setup-node@v6
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"

      - run: npm install -g npm@latest

      # The prepublishOnly script runs 'bun run clean && bun run build'
      - run: npm publish

  github:
    needs: publish
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6

      - uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          generate_release_notes: true
