name: test

on:
  workflow_dispatch:
  push:
    branches:
      - "master"
    paths:
      - "**/*.ts"
  pull_request:
    branches:
      - "master"
    paths:
      - "**/*.ts"

jobs:
  test:
    runs-on: self-hosted

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3 # v2.0.2
        with:
          bun-version: "1.3.3"

      - run: bun install

      - name: Run tests with coverage
        run: bun test --coverage --coverage-reporter=lcov

      - name: Upload coverage report
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 #v5.5.1
        with:
          file: ./coverage/lcov.info
